{% block header %}
{% endblock %}

<form method="POST" action="{{ script_root }}/admin/challenges/new" enctype="multipart/form-data">
	{% block name %}
	<div class="form-group">
		<label>
			Name:<br>
			<small class="form-text text-muted">
				The name of your challenge
			</small>
		</label>
		<input type="text" class="form-control" name="name" placeholder="Enter challenge name">
	</div>
	{% endblock %}

	{% block category %}
	<div class="form-group">
		<label>
			Category:<br>
			<small class="form-text text-muted">
				The category of your challenge
			</small>
		</label>
		<input type="text" class="form-control" name="category" placeholder="Enter challenge category">
	</div>
	{% endblock %}


	{% block message %}
	<div class="form-group">
		<label>
			Message:<br>
			<small class="form-text text-muted">
				Use this to give a brief introduction to your challenge.
			</small>
		</label>
		<textarea id="new-desc-editor" class="form-control markdown" name="description" rows="10"></textarea>
	</div>
	{% endblock %}

	{% block value %}
	<div class="form-group">
		<label>
			Value:<br>
			<small class="form-text text-muted">
				This is how many points are rewarded for solving this challenge.
			</small>
		</label>
		<input type="number" class="form-control" name="value" placeholder="Enter value" required>
	</div>
	{% endblock %}

    {% block connection_info %}
	<div class="form-group">
		<label>
			Connection Info<br>
			<small class="form-text text-muted">
				Use this to specify a link, hostname, or connection instructions for your challenge.
			</small>
		</label>
		<input type="text" class="form-control chal-connection-info" name="connection_info" placeholder="Enter connection info">
	</div>
	{% endblock %}

    {% block vm_name %}
	<div class="form-group">
		<label>
			VM name<br>
			<small class="form-text text-muted">
				Use this to specify the name of the victims machine that is used in VirtualBox. This is used to restore the vm after an attack. If there is no vm for this challenge (e.g. if you use only a file for a forensic task) leave the field empty.
			</small>
		</label>
		<input type="text" class="form-control" name="vm_name" placeholder="Enter vm name">
	</div>
	{% endblock %}

    {% block victims_connection %}
	<div class="form-group">
		<label>
			Path to the .vdi of the VM<br>
			<small class="form-text text-muted">
				Only enter a path if you want a new flag inside the vm after somebody solved a challenge.
                Use this to specify the path to the .vdi of the victims machine (eg /home/wuensch/VirtualBox VMs/example/).
                Please make sure that there is the needed newToken.sh inside this folder.
            </small>
		</label>
		<input type="text" class="form-control chal-connection-info" name="victims_connection" placeholder="Enter .vdi path">
	</div>
	{% endblock %}

   <!-- {% block change_token %}
    <div class="form-group">
    <label for="change_token">Change Token<br>
        <small class="form-text text-muted">
            If the checkbox is checked, the machine gets a new token after a successful attack.
            For this, it's important that the VM allows SSH connection via the global RSA key.
        </small>
    </label>
    <input type="checkbox" id="change_token" name="change_token" value="change_token">
    Change Token
    </div>
    {% endblock %}-->

	{% block state %}
	<input type="hidden" name="state" value="hidden">
	{% endblock %}

	{% block type %}
	<input type="hidden" name="type" value="standard">
	{% endblock %}

	{% block submit %}
	<div class="form-group">
		<button class="btn btn-primary float-right create-challenge-submit" type="submit">Create</button>
	</div>
	{% endblock %}
</form>

{% block footer %}
{% endblock %}